<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tech Task</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"></ul>
      <form class="d-flex">
        <button class="btn btn-primary me-2" type="submit">Profile</button>
        <button
          class="btn btn-outline-secondary"
          type="submit"
          (click)="logout()"
        >
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div id="main-container">
    @for (specialist of specialists; track $index) {
    <div class="mb-3">
      <div class="card p-2">
        <div class="card-body row">
          <div class="col-md-8 col-sm-7">
            <h5 class="card-title">{{ specialist.fullName }}</h5>
            <p class="card-text">{{ specialist.education }}</p>
          </div>
          <div
            class="col-md-4 col-sm-5 d-flex align-items-center justify-content-end"
          >
            <button
              class="btn btn-outline-primary"
              (click)="onOpenModal(specialist)"
            >
              View More
            </button>
          </div>
        </div>
      </div>
      <!-- Specialist Details Modal -->
      <app-specialist-details
        [specialist]="selectedSpecialist"
      ></app-specialist-details>
    </div>
    }
  </div>
</div>
