<div class="modal fade" id="updateSpecialistModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">
          {{ editSpecialist?.fullName }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="editForm"
          (ngSubmit)="$event.preventDefault(); submitForm()"
        >
          <div class="form-group">
            <label>Full name</label>
            <input
              ngModel="{{ editSpecialist?.fullName }}"
              type="text"
              class="form-control"
              placeholder="Enter full name"
              formControlName="senderFullName"
            />
          </div>
          <div class="form-group">
            <label for="education">Date of birth</label>
            <input
              type="date"
              class="form-control"
              formControlName="senderDate"
            />
          </div>
          <div class="form-group">
            <label for="education">Education</label>
            <input
              ngModel="{{ editSpecialist?.education }}"
              type="text"
              class="form-control"
              placeholder="Enter education"
              formControlName="senderEducation"
            />
          </div>
          <div class="form-group">
            <label>Location</label>
            <input
              ngModel="{{ editSpecialist?.location }}"
              type="text"
              class="form-control"
              placeholder="Enter your country"
              formControlName="senderLocation"
            />
          </div>
          <div class="form-group mt-3">
            <label class="d-block" for="occupation">Occupation</label>
            <select formControlName="senderOccupation">
              <option value="Front-end Developer" selected="selected">
                Front-end Developer
              </option>
              <option value="Back-end Developer">Back-end Developer</option>
            </select>
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input
              ngModel="{{ editSpecialist?.phoneNumber }}"
              type="tel"
              class="form-control"
              placeholder="Enter phone number"
              formControlName="senderPhoneNumber"
            />
          </div>
          <div class="form-group">
            <label for="professionalSkills">Professional Skills:</label>
            <select
              multiple="multiple"
              formControlName="professionalSkills"
              class="form-control"
            >
              <option *ngFor="let skill of skillsList" [value]="skill">
                {{ skill }}
              </option>
            </select>
          </div>
          <div class="form-group d-flex align-items-center mt-3">
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Edit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
