.specialist-details {
  padding: 0;
  margin: 0;
  list-style: none;
}

.detail-item {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  margin-right: 5px;
}

.detail-value {
  color: #555; /* Subtle color for the detail value */
}
