<div class="modal fade" id="specialistDetailsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="specialistDetailsModalLabel">
          {{ specialist?.fullName }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="specialist-details">
            @if (specialist?.phoneNumber) {
            <p class="detail-item">
              <span class="detail-label">Phone Number: </span>
              <span class="detail-value">{{ specialist?.phoneNumber }}</span>
            </p>
            } @if (specialist?.dateOfBirth) {
            <p class="detail-item">
              <span class="detail-label">Date of Birth: </span>
              <span class="detail-value">{{
                specialist?.dateOfBirth | date : "longDate"
              }}</span>
            </p>
            <p class="detail-item">
              <span class="detail-label">Full age: </span>
              <span class="detail-value">{{
                calculateAge(specialist!.dateOfBirth)
              }}</span>
            </p>
            }
            <p class="detail-item">
              <span class="detail-label">Education: </span>
              <span class="detail-value">{{ specialist?.education }}</span>
            </p>
            <p class="detail-item">
              <span class="detail-label">Occupation: </span>
              <span class="detail-value">{{ specialist?.occupation }}</span>
            </p>
            @if (specialist?.location) {
            <p class="detail-item">
              <span class="detail-label">Location: </span>
              <span class="detail-value">{{ specialist?.location }}</span>
            </p>
            }
            <p class="detail-item">
              <span class="detail-label">Email: </span>
              <span class="detail-value">{{ specialist?.email }}</span>
            </p>
            @if (specialist?.professionalSkills!.length > 0) {
            <p class="detail-item">
              <span class="detail-label d-block mb-1"
                >Professional Skills:
              </span>
              @for (skill of specialist?.professionalSkills; track $index) {
              <span
                class="detail-value border border-secondary rounded me-2 p-1"
                >{{ skill }}</span
              >
              }
            </p>
            }
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
